



#container { width: 100%;
             position: relative;
             height: 85%;}


#body {
        position: relative;
        padding-top: 50px;

}

header {
	border-bottom: 1px solid #eeeeee;
  position: relative;	
}

#logo {
	float:left;
	font-size: 20px;
}


#menu {
	margin-left: 50px;
}

.nav li {
	float: right;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: auto;

}

#page {
	padding: 0;
	margin: 0;
  position: relative;
}

#resume_page {
	margin: 0 15%;
}

a { color: #777777}

#body_content_title { display: none; }

.inner {top: ;
        position: relative;
 }

.jumbotron {
  height: 100%;
  background-size: cover;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
